/* Don't change the existing CSS. */
.outer-box{
  
  
  background-color: purple ;
}
.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text{
  background-color: red;
  color: white;
  margin:0px 10px 0px 10px ;
}